* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

.navbar {
    width: 80%;
    margin: auto;
    
    font-weight: bold;
}
.navbar a{
    color: white!important;
}

.page {
    width: 90%;
    margin: auto;
}

.navbar li:hover{
    color: black!important;
    background-color: #ffe718!important;
}
a:hover{
    color: black!important;
    background-color: #ffe718!important;
}

.images div:hover h1{
    display: inline-block!important;
}
.images div:hover{
    filter: brightness(40%);
}

.images div h1{
    color: white!important;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    width: 300px;
    margin-top: 100px;
}


.tussenstuk{
    width: 100%;
    background-color: #ffe718;
    margin-top: 50px;
    height: 100px;
}

.overflowimages div{
    background-color: #ffe718;
    height: 100%;
}
.overflowimages div:hover{
    background-color: #222931;
    color: white;
}
.overflowimages div:hover div{
    background-color: #222931;

}
.overflowimages{
    height: 100px;
}
.overflowimages div div h1{
    font-size: 22px;
    font-weight: bold;
    background-color: transparent;
    margin-top: 25px;
}

.overflowimages div div h4{
    font-size: 10px;
    font-weight: bold;
    background-color: transparent;
   
}
.overflowimages div i{
    font-size: 40px;
    margin-top:30px;
}

.divoverflowimages{
  
    position: relative;
    top: -50px;
}

.contactinformatie li{
    text-decoration: none;
    list-style-type: none;
}

.contactinformatie li i{
    font-size: 40px;
    line-height: 60px;
    width: 45px;
    color: grey;

}

.contactinformatiediv{
    float: right;
}
.aboutus h1{
    font-weight: 1000;
}

.aboutus{
    padding-top: 100px;
}

.navbardown{
    position: relative;
    top: 40px!important;
    z-index: 100;
}

.headerimg{
    margin-top: 20px;
}

.navigationbar h4{
    display:inline-block;
    margin-top: 40px;
    text-decoration: none;
    font-size: 12px;
    color: black;
}

.link{
    color: yellow;
    display: inline-block;
}

.textlinkhover{
    width: 150px;
    height: 80px;
    background-color: #aeb6be;
    color: white;
    position: absolute;
    display: none;
    text-align: center;
}
.link:hover .textlinkhover{
    display: block;
}